services:
  backend:
    build: .
    restart: always
    # No ports/expose needed! It is only accessible within the Docker network.
    environment:
      - WATCHFILES_FORCE_POLLING=false
    command: uvicorn app.main:app --host 0.0.0.0 --port 3001

  frontend:
    build: ../adgc2nn-frontend
    restart: always
    expose:
      - "3000"
    environment:
      - INTERNAL_API_URL=http://backend:3001
    depends_on:
      - backend 

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
